<h1>Are you sure you want to delete <%= @block.name %> and all of its comments? This action cannot be undone</h1>
<form method='post' action:''>
<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
<input type='submit' value='YES'>
<%= button_to "NO", show_block_path(@block), :method => "get" %>